@using TelerikDemo.Models
@using TelerikDemo.Pages
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TelerikDemo</a>
    </div>
</div>

<TelerikPanelBar Data="@PanelData">
    <PanelBarBindings>
        <PanelBarBinding TextField="Text" ItemsField="Items" UrlField="Url" IconField="Icon" />
    </PanelBarBindings>
</TelerikPanelBar>

@* <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="components">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Components
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="panelbar">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Panelbar
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tabcontrol">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> TabControl
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="form">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Form
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="grid">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Grid
            </NavLink>
        </div>
    </nav>
</div> *@

@code {
    private List<PanelItem> PanelData { get; set; }

    protected override void OnInitialized()
    {
        PanelData =
        [
            new PanelItem
            {
                Text = "Components",
                Url = "components",
                Icon = "bi bi-list-nested-nav-menu"
            },

        new PanelItem
            {
                Text = "Panelbar",
                Url = "panelbar",
                Icon = "bi bi-list-nested-nav-menu"
            },

        new PanelItem
            {
                Text = "TabControl",
                Url = "tabcontrol",
                Icon = "bi bi-list-nested-nav-menu"
            },

        new PanelItem
            {
                Text = "Form",
                Url = "form",
                Icon = "bi bi-list-nested-nav-menu"
            },

        new PanelItem
            {
                Text = "Grid",
                Url = "grid",
                Icon = "bi bi-list-nested-nav-menu"
            }
        ];
    }
    // private bool collapseNavMenu = true;

    // private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    // private void ToggleNavMenu()
    // {
    //     collapseNavMenu = !collapseNavMenu;
    // }
}
