@using TelerikDemo.Models

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">TelerikDemo</a>
    </div>
</div>

<TelerikPanelBar Data="@PanelData">
    <PanelBarBindings>
        <PanelBarBinding TextField="Text" ItemsField="Items" UrlField="Url" IconField="Icon" />
    </PanelBarBindings>
</TelerikPanelBar>

@code {
    private List<PanelItem> PanelData { get; set; }

    protected override void OnInitialized()
    {
        PanelData =
        [
            new PanelItem
            {
                Text = "Components",
                Url = "components",
                Icon = "bi bi-list-nested-nav-menu"
            },

        new PanelItem
            {
                Text = "Panelbar",
                Url = "panelbar",
                Icon = "bi bi-list-nested-nav-menu"
            },

        new PanelItem
            {
                Text = "TabControl",
                Url = "tabcontrol",
                Icon = "bi bi-list-nested-nav-menu"
            },

        new PanelItem
            {
                Text = "Form",
                Url = "form",
                Icon = "bi bi-list-nested-nav-menu"
            },

        new PanelItem
            {
                Text = "Grid",
                Url = "grid",
                Icon = "bi bi-list-nested-nav-menu"
            }
        ];
    }
}
